extends ./layout.pug
block content 
	.row 
		.main.col.m10.offset-m1.s12.l8.offset-l2.z-depth-1
			h2.center-align= "Bienvenu " + user.nom  
			p= "Bonjour, ce très bref questionnaire qui vous est soumis s’inscrit dans le cadre de mes travaux de thèse. Il s'agit d'un beta-test et je vous remercie d’avoir accepté d’y participer."
			p= "Inspiré des sites de rencontres en ligne, l’objectif ici est de :"
			p= "Recueillir des informations pertinentes en amont d’événements de networking concernant les attentes, les objectifs, les éventuelles propositions et les valeurs des participants potentiels au regard de la thématique qui sera abordée au cours de la rencontre."

			p="Nous avons construit ce questionnaire sous forme de 34 « dialogies » :"
			p="C’est-à-dire qu’en guise de réponse il vous sera demandé de vous positionner à chaque question sur une échelle représentant aux extrémités d’un sliders colorée et dynamique deux orientations à priori antagonistes mais pas incompatibles."
			p="Le but est de vous obliger à spécifier les objectifs que vous poursuivriez en participant à la rencontre en question."
			p="Tous les participants répondront aux mêmes questions."
			p="L’objectif final sera de vous donner sur la base de vos réponses un indicateur qui vous permettra de qualifier ou pas l’intérêt de participer ou non à cette rencontre."
			p="Nous aurons aussi la possibilité de vous faire des recommandations de personnes potentiellement intéressantes à rencontrer lors de cet événement."
			p="Vos réponses seront aussi traduites en un profil visuel et individuel qui sera disponible pour chaque participant qui souhaiterait l’utiliser comme support facilitant les échanges pendant l’événement."
			p="Il s’agit d’une première version du questionnaire que nous souhaitons améliorer sur la base de vos réponses et de vos retours."
			p="Vous aurez ainsi la possibilité de cocher en dessous de chaque question l’une ou plusieurs des 4 propositions suivantes :"
			ol
				li= "J’ai eu du mal à comprendre cette question." 
			  li= "Aucune des deux propositions ne reflète ma situation. "
			  li= "J’ai l’impression d’avoir déjà répondu à cette question. "
			  li= "Je ne me sens pas à l’aise pour répondre à cette question." 
			p="Merci pour votre aide précieuse !"


Amusez-vous !"
			.row
				a.btn.waves-effects.waves-light.col.m6.offset-m3.s12( href="/form" ) Passer au formulaire 