extends ./layout.pug
block navigation
	h4.right.adjustable
		span( style="font-size: "+Math.round( 100 * ( 1 + thematique.length/100 ) )+"%")= thematique
block content 
	.row.onglets 
		.col.s12.l10.offset-l1
			ul.tabs
				each categorie in categories 
					li.tab.col.s2
						a( id="tab_" + categorie.id,  href="#cat_"+categorie.id )= categorie.description 
	.row
		form.col.s12.l10.offset-l1.main.z-depth-1#dialogie( method="POST")
			each categorie, index  in categories 
				.col.s12( id="cat_"+categorie.id )
					div.collection
						each dialogie in dialogies 
							if dialogie.categorie_id == categorie.id
								div.collection-item.row
									p.title
										i= dialogie.position +"."
										-
											var desc = dialogie.description.replace( /(%s)|(%n)/gi, 
														function( match, p1, p2 ) { 
															if( p1 ) return "<span class='bold'>" + dialogie.southPole + "</span>"; 
															if ( p2 ) return "<span class='bold'>" + dialogie.northPole + "</span>"; 
														} )
										span!= desc 
									.range-field.row
										.col.s2
											h5.right-align= dialogie.southPole
										.col.s8.dialoJ-range
											input( type="range", min=1, max=7, name="dialogie_"+dialogie.id+"_value" ) 		
										.col.s2
											h5.left-align= dialogie.northPole
								
									each metrique in metriques
										if metrique.type == "boolean"
											.row
												.div.col.s6
													input( type="checkbox", id="check_"+dialogie.id+"_"+metrique.id, name="dialogie_"+dialogie.id+"_metrique_"+metrique.id, value=1)
													label.filled-in-box( for="check_"+dialogie.id+"_"+metrique.id )= metrique.description
										if metrique.type == "similarity"
											
											ul.collapsible.targetProfile( data-collapsible="accordion" )
												li
													.collapsible-header.right 
														span Pour cette aspect je cherche des partenaires avec un profil particulier...
													.row.collapsible-body
														.div.col.s12
															span= metrique.description
														.div.col.s4
															input( type="radio", id="check_"+dialogie.id+"_"+metrique.id+"_sim", name="dialogie_"+dialogie.id+"_metrique_"+metrique.id, value="-1")
															label.filled-in-box( for="check_"+dialogie.id+"_"+metrique.id+"_sim" )= "similaire"
														.div.col.s4
															input( type="radio", id="check_"+dialogie.id+"_"+metrique.id+"_que", name="dialogie_"+dialogie.id+"_metrique_"+metrique.id, value="0", checked)
															label.filled-in-box( for="check_"+dialogie.id+"_"+metrique.id+"_que" )= "quelconque"
														.div.col.s4
															input( type="radio", id="check_"+dialogie.id+"_"+metrique.id+"_opp", name="dialogie_"+dialogie.id+"_metrique_"+metrique.id, value="1")
															label.filled-in-box( for="check_"+dialogie.id+"_"+metrique.id+"_opp" )= "opposé/complémentaire"
					if index == categories.length - 1 
						button.btn.waves-effect.waves-light.right( type="submit")
							i.material-icons.left done
							span Valider
					else 
						a.btn.right.next( href="#cat_"+categories[ index + 1 ].id data-tab="#tab_"+categories[ index + 1 ].id  ) catégorie suivante
		form#hiddenForm( method="POST" action="/validation")
			input#valuesToSend( type="hidden" name="values" )
			input#metriquesToSend( type="hidden" name="metriques" )

